[Unit]
Description=uWSGI instance to serve with Flask + Nginx in this E8oQZBJLVrLA7g9a089uZSWpxFCJcVVK
After=network.target

[Service]
User=serhiy
Group=www-data
Restart=always
WorkingDirectory=/home/serhiy/www/flask-nginx
Environment="PATH=/home/serhiy/www/flask-nginx/venv/bin"
ExecStart=/home/serhiy/www/flask-nginx/venv/bin/uwsgi --ini server_config/project.ini

[Install]
WantedBy=multi-user.target
