[Unit]
Description=uWSGI instance to serve with Flask + Nginx in this l8iIAZUaonVvAl9p5QQT2LhMhjugdaQ2
After=network.target

[Service]
User=kaiser
Group=www-data
Restart=always
WorkingDirectory=/home/kaiser/www/flask-nginx
Environment="PATH=/home/kaiser/www/flask-nginx/venv/bin"
ExecStart=/home/kaiser/www/flask-nginx/venv/bin/uwsgi --ini server_config/project.ini

[Install]
WantedBy=multi-user.target
